.mainWindow{
    display: flex;
    flex-direction: column;
    width: auto;
    height: 96vh;
}

.topBox{
    height: 53vh;
    display: flex;
    flex-direction: column;
}

.longflexT{
    width: 96vw;
    min-height: 20vw;
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: lightskyblue;
}

.splBtn{
    max-height: 26vw;
}

.clrBtn{
    /* text-align: center;
    flex-grow: 2; */
}

.switch{
    /* text-align: center;
    flex-grow: 1; */
}

.longflexN{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: lightskyblue;
}

.numBtn{
    text-align: center;
    width: 26vw;
    height: 26vw;
    background-color: cadetblue;
}