.mainWindow{
    display: flex;
    flex-direction: column;
    width: auto;
    height: 96vh;
}

.topBox{
    height: 43vh;
    display: flex;
    flex-direction: column;
}

.longflexT{
    width: 96vw;
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.clrBtn{
    /* text-align: center;
    flex-grow: 2; */
}

.switch{
    /* text-align: center;
    flex-grow: 1; */
}

.longflexN{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.numBtn{
    text-align: center;
    width: 26vw;
    height: 26vw;
}