@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Mono:wght@300&display=swap');

html, body {
    overflow-x: hidden;
}

body{
    position: relative;
    cursor: default;
    background-color: #283149;
}

.mainWindow{
    display: flex;
    flex-direction: column;
    width: 96vw;
    height: 96vh;
}

.topBox{
    display: flex;
    flex-direction: column;
    font-family: 'Noto Sans Mono', monospace;
    color: #DBEDF3;   
}

.longflexT{
    padding: 5vw;
    width: 86vw;
    background-color: #404B69;
}

#history{
    height: 40vw;
    border-top-left-radius: 5vw;
    border-top-right-radius: 5vw;
}

#result{
    height: 12vw;
    text-align: right;
    font-size: xx-large;
    border-bottom-left-radius: 5vw;
    border-bottom-right-radius: 5vw;
}

.splBtn{
    margin: 0 auto 0 auto;
    height: 28vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #283149;
    border-radius: 13vw;
}

.splBtn div{
    cursor: pointer;
    margin: 2vw 1.5vw;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 24vw;
    height: 24vw;
    border-radius: 50%;
    font-family: 'Fira Mono', monospace;
}

.clrBtn{
    background-color: #DA0463;
    font-size: large;
    font-weight: 500;
}

.status{
    background-color: #404B69;
}

.sw{
    background-color: #404B69;
    color: #DBEDF3;
    font-size: large;
    font-weight: 200;
}

.longflexN{
    width: 96vw;
    height: 28vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #283149;
}

.numBtn{
    cursor: pointer;
    margin: 0 1.5vw;
    width: 24vw;
    height: 24vw;
    background-color: #404B69;
    color: #DBEDF3;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-family: 'Fira Mono', monospace;
    font-size: large;
    font-weight: 200;
}